* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 75px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 35px;
}

.gen-button {
  margin-left: auto;
}

.App-link {
  color: #61dafb;
}

.App-content {
  width: 100vw;
  height: calc(100vh - 75px);
  overflow: hidden;
  display: grid;
  grid-template: repeat(150, 15px) / repeat(150, 15px);
}
